streamlit==1.36.0
# ติดตั้ง PyTorch/torchvision แบบ CPU ล้วนจาก index ของ PyTorch
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

timm==0.9.16
pillow
requests
numpy<2
