streamlit==1.36.0

# ใช้ wheel ของ PyTorch สำหรับ CPU โดยตรง (เสถียรบน Streamlit Cloud)
torch==2.2.2+cpu
torchvision==0.17.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

timm==0.9.16
pillow
requests
numpy<2
