--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.36.0

# ใช้ CPU wheels ที่ขึ้นง่ายบน Streamlit Cloud
torch==2.1.2+cpu
torchvision==0.16.2+cpu

timm==0.9.12
pillow==10.4.0
requests
numpy==1.26.4
typing_extensions==4.9.0
